<!--user#show-->
<div class="user_show">
    <div class="user_show_div">
        <h3>プロフィール設定</h3>
        <%= form_tag("/user/#{@user.id}", method: :post, :multipart => true) do %>
        <div class="user_show_image">
            <%= image_tag @user.image.url %>
        </div>
        <div class="user_show_border">
            <h4>アイコン画像</h4>
            <%= file_field_tag :image %>
        </div>
        <div class="user_show_border">
            <h4>名前</h4>
            <%= text_field_tag :name, @user.name %>
        </div>
        <div class="user_show_border">
            <h4>自己紹介</h4>
            <%= text_area_tag :comment, @user.comment %>
        </div>
        <div class="user_show_border">
            <%= submit_tag "変更" %>
        </div>
        <% end %>
    </div>
</div>